<div class="calculator-wrapper">
  <h1 class="calculator-title">🚀 Rocket Calculator</h1>

  <div class="toggle-wrapper">

    <!-- Toggle Switch -->
    <div class="toggle-container" (click)="toggleView()">
      <div class="toggle-label left" [class.active]="isRocketView">
        Base
      </div>

      <div class="toggle-switch">
        <div class="toggle-knob" [class.move]="!isRocketView"></div>
      </div>

      <div class="toggle-label right" [class.active]="!isRocketView">
        Spaced Out
      </div>
    </div>

    <!-- Component Switch -->
    <div class="view-container">
      @if (isRocketView) {
        <app-base/>
      } @else {
        <app-spaced-out/>
      }
    </div>

  </div>

</div>
